/* 
*********
RESET
*********
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* 
*********
DEBUG
*********
*/

.header-top {
    background-color: #DAA520;
    border-bottom: 2px dashed black;
    border-top: 2px dashed black;
}

.header-bottom.debug {
    background-color: #00008B;
    padding: 55px 0;
    margin: 0;
}

.box.debug {
    max-width: 950px;
    height: 415px;
    background-color: #EE82EE;
    border: 2px dashed black;
}

.logo.debug {
    padding-right: 200px;
}

.login.debug {
    padding-left: 200px;
}

.link.debug {
    text-align: center;
}

.container-one.debug,
.container-two.debug {
    border: 2px dashed black;
}

.riquadro.debug,
.riquadro-tre.debug {
    background-color: #1e90ff;
}

.riquadro-due.debug,
.riquadro-quattro.debug {
    background-color: #FFC0CB;
    min-height: 520px;
    border-left: 2px dashed black;
}

.riquadro-quattro.debug {
    border-right: 2px dashed black;
    border-left: 0px dashed black;
}

.green-screen.debug {
    max-width: 1250px;
    min-height: 930px;
    background-color: #228b22;
    border: 2px dashed black;
}

footer.debug {
    background-color: #23272a;
}

.red-box.debug {
    min-height: 600px;
    background-color: #f08080;
    border: 2px dashed black;
}

.green-box.debug {
    background-color: #20b2aa;
    border: 2px dashed white;
}


.stile.debug {
    padding: 10px;
    background-color: #ffb6c1;
    border: 2px dashed black;
}

.footer-due.debug {
    background-color: #7fffd4;
}

/* 
*********
COMMON
*********
*/
section {
    padding: 50px 0;
}

.login,
.logo {
    flex-grow: 0;
    flex-shrink: 0;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.container-header>div {
    border-left: 2px dashed black;
    padding: 10px;
    border-right: 2px dashed black;
}

.container-one,
.container-two {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

.container-two {
    flex-direction: row-reverse;
}

/* 
*********
HEADER-Top
*********
*/

header {
    background-color: #ADD8E6;
    padding-top: 15px;

}

.header-top {
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 15px;

}

.link {
    flex-grow: 2;
}

/* 
**************
HEADER-BOTTOM
**************
*/

.box {
    margin: 0 auto;
}

/* 
*********
MAIN
*********
*/

/* 
*********
SEZIONE 1
*********
*/

.riquadro,
.riquadro-tre {
    flex-grow: 2;
}

/* 
*********
SEZIONE 2
*********
*/
.riquadro-due,
.riquadro-quattro {
    flex-grow: 1;
}

.sezione-2 {
    background-color: #d3d3d3;
}

/* 
*********
SEZIONE 4
*********
*/
.green-screen {
    margin: auto;
}

/* 
****************
SEZIONE FOOTER
****************
*/

.container-footer {
    display: flex;
}

.sezione-footer {
    border-bottom: 1px solid white;
    padding: 10px 0px 50px;
}

.box-footer {
    max-width: 1250px;
    margin: 0 auto;
}


.red-box {
    flex-grow: 3;
}

.green-box {
    flex-grow: 1;
}

/* 
****************
SEZIONE FOOTER 2
****************
*/

.contenitore-footer-due {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-footer {
    padding: 30px;
}

.footer-due {
    max-width: 1250px;
    margin: 0px auto;
    padding: 15px 0;
}